article(itemscope, itemtype="http://schema.org/Person", ng-app="resume")
  header.header(role="banner")
    hgroup
      img.headshot(itemprop="image", src="https://instagram.fsjc1-3.fna.fbcdn.net/vp/376b1f99d370cd1fa677095dcb4b6870/5B44B7AD/t51.2885-15/e35/29404239_432793320493628_6858854933949579264_n.jpg", alt="Dan Wilt")  
      h1(itemprop="name") Felipe Angeles
      h2.user-description(itemprop="description") This how can leared this together
    address.contact-details    
      a.telephone(href="tel:+1-414-596-9517", itemprop="telephone")
        span.content 415-596-9517
      div.org(itemscope, itemtype="http://schema.org/Organization")
        a.website(href="", itemprop="url")
          span(itemprop="name") Felipe Angeles Company 
        div.address(itemscope, itemprop="address", itemtype="http://schema.org/PostalAddress")
          div(itemprop="streetAddress") 49 Holyoke st 
          span(itemprop="addressLocality") San Francisco 
          abbr(title="California" itemprop="addressRegion") CA 
          span(itemprop="postalCode") 94134 
      a.email(href="felipeangeles134@gmail.com", itemprop="email")
        span.content felipeangeles134@gmail.com
  div.content
    section.languages(ng-controller="LanguagesCtrl")
      header
        h1.languages-heading Languages
      ul.languages-list
        li(ng-repeat="", ng-bind="language")

    section.tools(ng-controller="ToolsCtrl")
      header
        h1.tools-heading Tools
      ul.tool-types-list
        li(ng-repeat="tools")
          h2.tool-type-heading(ng-bind="type.name")
          ul.tools-list
           li(ng-repeat="tool in type.tools", ng-bind="tool")
           
    section.clients(ng-controller="ClientsCtrl")
      header
        h1.clients-heading School
      ol.clients-list
      
        li.client(itemscope, ng-repeat="", itemtype="http://schema.org/Organization")
          h2.client-name
            span(itemprop="name", ng-bind="client.name")
            a.client-link(itemprop="url", ng-href="{{ client.url }}", title="{{ client.name }}'s website", ng-bind="client.url")
              span.text
          div.client-time-worked-at
            time(ng-bind="client.startDate")
            |  - 
            time(ng-bind="client.endDate")
          p(ng-bind="client.service")
          ul
            li(ng-repeat="highlight in client.highlights", ng-bind="highlight")
          blockquote.client-testimonial(ng-if="client.testimonial")
            p(ng-bind="client.testimonial.content")
            footer(ng-bind="client.testimonial.author.name + ', ' + client.testimonial.author.jobTitle")
            